.btn-main{
    background: #3498db;
    color: #fff;

}

.btn-main:hover{
    background: #304FFE;
    color: #fff;
}

.btn-plain{
    color: #fff;
}
.btn-plain:hover{
    background: #3498db ;
    color: #ffffff;
    text-decoration: none;
}

.btn-outline{
    border: 2px solid #3498db;
    padding: 10px 40px;
}
.btn-flat{
    border-radius:0 ;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
