.second-div-top{
    margin-top: 20px;
}

.header-div-top{
    margin-top: 30px;
}
.header-text-content-top{
    margin-top: 120px;
}
.third-div-connect{
    height:430px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.second-div-about{
    margin-bottom: 20px;
}
.third-div-connect{

}