.top-bar{
    background-color: #3498db;
}
.user-home{
    margin-left: 0;
}
.user-home:hover{
    text-decoration: none;
}

.user-account{
    margin-top: 10px;
}
.user-navbar {
    background-color: #BDBDBD;
}
.text-nav li a {
    color: black;
    padding: 10px;
}

.user-nav ul li a:hover {
    transition:  0.4s;
    color: white;
    background-color: #757575;
}
.text-nav a:hover{
    text-decoration: none;
}
.user-nav ul li {
    padding: 5px;
    margin-top: 5px;
}

.quick-links{
    margin-top: 50px;
}

.blocks{
    height: 175px;
    background-color: #3498db;
    margin-bottom: 30px;
}