.top-bar{
    background-color: #3498db;
}
.user-home{
    margin-left: 0;
}
.user-home:hover{
    text-decoration: none;
}

.user-account{
    margin-top: 10px;
}
.user-navbar {
    background-color: #cccccc;
}
.text-nav li a {
    padding-left: 15px;
    color: black;
}
.text-nav li a:hover {
    color: white;
}
.text-nav a:hover{
    text-decoration: none;
}